        <div id="footer">
          <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
          </div>
        </div>    
    </body>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>