<%- include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6" style="text-align:center">
                <div class="thumbnail" id="show">
                    <img src="https://www.cstatic-images.com/stock/900x600/261868.jpg">
                    <div class="caption">
                        <h4>Toyota Corolla</h4>                         
                    </div>
                    <!--Create a button to show descriptions-->
                    <div>
                        <a class="btn btn-primary" href="#">Show details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include ../partials/footer %>