<%- include ../partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<div class= "ui main left aligned container segment">
	<div class="ui huge header">Log in</div>
	<!-- Error alert -->
	<div class="container">
	    <% if (errors && errors.length >0) { %>
	    	<% errors.forEach(function(error){ %>
	        <div class="ui warning message" role="alert">
	            <%= error %>
	        </div>
	        <% }) %>
	    <% } %>
	</div>
	<div class="ui form">
		<form action="/user/login" method="POST">
			<div class="required field">
				<label for="email">Email</label>
				<input type="email" name="username" placeholder="Enter your email address">				
			</div>
			<div class="required field">
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Choose a password">				
			</div>
			<button class="ui huge green button" type="submit">Sign Up</button>
		</form>
		<p>Don't have an account? <a href="/signup">Register here</a></p>
	</div>
</div>
<%- include ../partials/footer %>