<%- include ../partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<div class= "ui main left aligned container segment">
	<div class="ui huge header">Make a new account</div>
	<div class="ui form">
		<form action="/user/signup" method="POST">
			<div class="required field">
			<label>Name</label>
			<div class="two fields">
			  <div class="field">
			    <input type="text" name="firstName" placeholder="First">
			  </div>
			  <div class="required field">
			    <input type="text" name="lastName" placeholder="Last">
			  </div>
			</div>
			</div>
			<div class="required field">
				<label for="email">Email</label>
				<input type="email" name="username" placeholder="Enter your email address">				
			</div>
			<div class="required field">
				<label for="password">Password</label>
				<small>Minimum length 6 characters</small>
				<input type="password" name="password" placeholder="Choose a password">				
			</div>
			<button class="ui huge green button" type="submit">Sign Up</button>
		</form>
	</div>
</div>
<%- include ../partials/footer %>